.bar-chart {
  display: flex;
  align-items: flex-end;
  height: $bar-chart-height;
  margin: $margin-tiny;
}

.bar-chart__title {
  margin: $margin-standard 0 $margin-small;
  font-size: $font-standard;
  color: $color-accent-light;
}

.bar-chart__legend {
  font-size: $font-tiny;
  color: $color-accent-dark;
}

.bar-chart__item {
  margin-left: $margin-small;
  min-width: $bar-chart-width;
  background-color: $color-accent-dark;
  border-bottom: $bar-chart-width solid $color-accent-dark;
}

.bar-chart__item:first-child {
  margin-left: 0;
}

@media #{$medium} {
  .bar-chart__wrapper {
    flex-basis: calc(50% - #{$margin-small});

    // margin needs to be split evenly between the two bar-chart__wrapper items
    // to make sure the bars in both charts have the same width
    &:first-of-type {
      margin-right: $margin-small;
    }

    &:last-of-type {
      margin-left: $margin-small;
    }
  }
}

@media #{$x-large} {
  .bar-chart__wrapper {
    width: 100%;

    &:first-of-type {
      margin-right: 0;
    }

    &:last-of-type {
      margin-left: 0;
    }
  }
}
