.turbo-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: $margin-tiny 0;
}

.turbo-search__input {
  height: $input-height;
  flex-basis: 80%;
  flex-grow: 1;
  padding: 0 $padding-input;
  background-color: $color-light;
  color: $color-dark;
  box-shadow: inset 0 0 4px $color-background;
}

@media #{$medium} {
  .turbo-search {
    flex-basis: 50%;
    flex-grow: 1;
    max-width: $input-width;
    margin: 0 0 0 $margin-small;
  }
}
