.text-stats__item {
  flex-basis: 50%;
  margin-bottom: $margin-small;
  text-align: center;
}

.text-stats__name {
  margin-bottom: $margin-tiny;
  color: $color-accent-light;
}

@media #{$medium} {
  .text-stats__item {
    margin-bottom: $margin-standard;
  }
}

@media #{$large} {
  .text-stats__item {
    flex-basis: 30%;
  }
}
